* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.map-image-container {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}

.map-image-container img {
    width: 100%;
    height: auto;
    display: block;
}
  /* Optional: make it only scroll on larger screens */
@media (max-width: 768px) {
    .image-wrapper {
      max-height: none;     /* Remove height limit on small screens */
      overflow: visible;    /* Don't scroll on mobile */
    }
  }
.section-container {
    display: flex;
    padding: 1rem;
}

.section-container img {
    max-width: 100%;
}

.recommendation-contents {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.recommendation-contents img {
    width: 300px;
    height: 250px;
    min-width: 200px;
    min-height: 50px;
    overflow: hidden;
}

.recommendation-text {
    padding-left: 1rem;
}
