* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.map-image-container {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.map-image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.section-container {
    display: flex;
    padding: 1rem;
}

.recommendation-contents {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
   /* border-top: solid 1px rgb(172, 169, 169);*/
   /* border: solid;*/
    /*padding: 1rem;*/
}


.recommendation-container h2 {
    border-left: solid 7px rgb(90, 171, 212);
    padding-left: 0.5rem;
}

.recommendation-image-container img {
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.recommendation-text {
    padding-bottom: 1rem;
}
